*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: blueviolet;
}

img{
    width: 100px;
}
    
@media screen and (max-widht: 991px){
h1{
    color: brown;
}

img{
    display: none;
}
    
}

@media screen and (max-widht: 767px){
    h1{
        background-color: palevioletred;
        color: white;
    }

    img{
        display: block;
    }
}